<div class="container-fluid container-one bg_lite">

  <div class="auth-card">

    <!-- Left Panel -->
    <div class="left-panel">

      <!-- Background Shapes -->



      <!-- Tabs -->
      <div class="tabs">



      </div>

    </div>

    <!-- Right Panel -->
    <div class="right-panel">

      <div class="user-icon">
        <img src="../../assets/Images/logo.png">
        <!-- <i class="fa fa-user-o"></i> -->
      </div>

      <h2>{{isLogin ? 'LOGIN' : 'REGISTER'}}</h2>

      <form (ngSubmit)="onSubmit()">

        <!-- Name only Register -->
        <div class="input-box" *ngIf="!isLogin">
          <i class="fa fa-user"></i>
          <input type="text" placeholder="Name">
        </div>

        <!-- Email -->
        <div class="input-box">
          <i class="fa fa-envelope"></i>
          <input type="email" placeholder="Email">
        </div>

        <!-- Password -->
        <div class="input-box">
          <i class="fa fa-lock"></i>
          <input type="password" placeholder="Password">
        </div>

        <!-- Login only -->
        <div class="auth-links" *ngIf="isLogin">
          <span class="forgot">Forgot Password?</span>

          <span class="signup-link" (click)="signupForm()">
            Sign Up
          </span>
        </div>
        <!-- Register only -->
  <div class="auth-links" *ngIf="!isLogin">
    <span>
      Already have an account?
    </span>

    <span class="signup-link" (click)="signupForm()">
      Login
    </span>
  </div>

        <button type="submit" class="login-btn" routerLink="admin/home" routerLinkActive="active">
          {{isLogin ? 'LOGIN' : 'REGISTER'}}
        </button>

      </form>

    </div>

  </div>
</div>