<div class="layout">

  <!-- Sidebar -->
  <div class="sidebar">

    <div class="logo_card">
      <img src="../../assets/Images/logo.png" />
      <span>OZO Gold and Diamond Jewellery</span>
    </div>

    <ul>

      <li routerLink="dashboard" routerLinkActive="SubbranchDashboardComponent">
        <i class="fa-solid fa-chart-line"></i>
        <span>Dashboard</span>
      </li>

      <li routerLink="Order" routerLinkActive="active">
        <i class="fa-solid fa-bag-shopping"></i>
        <span>Orders</span>
      </li>

      

      <li routerLink="stones-list" routerLinkActive="active">
        <i class="fa-solid fa-star"></i>
        <span>Stones</span>
      </li>

      <li  routerLink="" >
        <i class="fa-solid fa-right-from-bracket"></i>
        <span>Returns</span>
      </li>
      <li routerLink="" >
        <i class="fa-solid fa-star"></i>
        <span>Transactions</span>
      </li>

      <li (click)="logout()">
        <i class="fa-solid fa-right-from-bracket"></i>
        <span>Logout</span>
      </li>

    </ul>

  </div>

  <!-- Main -->
  <div class="main">

    <div class="navbar">

      <div class="nav-left">

        <button class="menu-btn">
          <i class="fa-solid fa-bars"></i>
        </button>

        <div class="page-info">
          <h4>Sub Branch Dashboard</h4>
          <p>Welcome Back 👋</p>
        </div>

      </div>

      <div class="search-wrapper">

        <i class="fa-solid fa-search"></i>

        <input
          type="text"
          placeholder="Search products, orders..." />

      </div>

      <!-- <div class="nav-right">

        <button
          class="logout-btn"
          (click)="openLogoutPopup()">

          <i class="fa-solid fa-right-from-bracket"></i>

        </button>

      </div> -->
      <div class="nav-right">

  <button class="logout-btn"
          (click)="toggleDropdown()">

    <i class="fa-solid fa-right-from-bracket"></i>

  </button>

  <div class="profile-dropdown"
       *ngIf="showDropdown">

    <div class="dropdown-item"
         (click)="goToProfile()">

      <i class="fa fa-user"></i>

      <span>Profile</span>

    </div>

    <div class="dropdown-item"
         (click)="logout()">

      <i class="fa fa-right-from-bracket"></i>

      <span>Logout</span>

    </div>

  </div>

</div>

    </div>

    <div class="content">

  <router-outlet></router-outlet>

</div>

<!-- ========================= -->
<!-- Profile Popup -->
<!-- ========================= -->

<!-- <div class="profile-overlay"
     *ngIf="showProfilePopup">

  <div class="profile-popup">

    <h3>My Profile</h3>

    <div class="profile-row">
      <strong>Name</strong>
      <span>{{ userName }}</span>
    </div>

    <div class="profile-row">
      <strong>Email</strong>
      <span>{{ userEmail }}</span>
    </div>

    <div class="profile-row">
      <strong>Role</strong>
      <span>{{ role }}</span>
    </div>

    <button
      class="close-btn"
      (click)="closeProfile()">

      Close

    </button>

  </div>

</div> -->


<div class="profile-overlay" *ngIf="showProfilePopup">

  <div class="profile-popup">

    <button class="close-icon" (click)="closeProfile()">
      <i class="fa-solid fa-xmark"></i>
    </button>

    <div class="profile-header">

      <div class="profile-avatar">
        <i class="fa-solid fa-user"></i>
      </div>

      <h2>{{ userName }}</h2>

      <p>{{ role }}</p>

    </div>

    <div class="profile-body">

      <div class="profile-card">

        <div class="icon-box">
          <i class="fa-solid fa-user"></i>
        </div>

        <div>
          <label>Full Name</label>
          <h5>{{ userName }}</h5>
        </div>

      </div>

      <div class="profile-card">

        <div class="icon-box">
          <i class="fa-solid fa-envelope"></i>
        </div>

        <div>
          <label>Email Address</label>
          <h5>{{ userEmail }}</h5>
        </div>

      </div>

      <div class="profile-card">

        <div class="icon-box">
          <i class="fa-solid fa-user-shield"></i>
        </div>

        <div>
          <label>Role</label>
          <h5>{{ role }}</h5>
        </div>

      </div>

    </div>

    <button class="close-btn" (click)="closeProfile()">

      Close

    </button>

  </div>

</div>

  </div>

</div>